#jumbo-t {
    background-color: greenyellow;
    height:100px;
}

#header-1 {
    color: white;
    background-color: rgb(0, 0, 116);
}

#header-2 {
    color: white;
    background-color: rgb(0, 0, 116);
}

#add-train {
    margin-top: 10px;
}

#submit-button {
    margin-top: 10px;
}

#table-header {
    text-align: center;
}

#new-trains {
    text-align: center;
}